.hobbyContainer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1% 0;
    width: 40%;
    padding: 2%;
    
}
.hobbyContainer h3{
    padding: 0;
    margin: 10px;
}
.hobbyContainer p{
    font-size: large;
    margin: 0;
    padding: 0;
    text-align: left;
}

.hobbyContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;

}