.expPageContainer{
    margin: 100px auto;
}
.container{
    display:flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}
.line{
    width: calc(100% - 2rem);
    max-width: 650px;
    margin: 1rem auto;
}

@media (max-width: 600px) {
    .expPageContainer {
        margin-top: 3rem;
    }
    .container {
        width: 150px;
        min-width: 150px;
        display: inline-table;
        margin-top: 0rem;
    }
    .line{
        width: calc(100% - 1rem);
        margin: 3rem 0.5rem;
    }
    

}

@media (max-width: 400px){
    .expPageContainer {
        margin-top: calc(50% - 150px - 0.5rem);
        
    }
    .line {
        margin: calc(50% - 150px - 0.5rem) 0.5rem;
    }
}

@media (max-width: 316px) {
    .expPageContainer {
        margin-top: 0.5rem;

    }

    .line {
        margin:0.5rem;
    }
}

